html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Footer styles should ensure it doesn't have a flex property that could affect its position */
.header{
  background-color: #d0d0d0a8;
  padding: 10px 0;
}

.footer {
  background-color: #3e3e3e;
  padding: 10px 0;
  color: whitesmoke;
}

/* Adjust padding as needed, but be consistent across similar elements */
.padding {
  padding: 10px;
}

.btn-custom {
  background-color: #5d5c61;
  color: white;
}
.btn-custom:hover {
  background-color: #77ff8e;
}

.sidebar {
  background-color: #f0f0f0cf;
}
/* Make main content a flex container */
.main-content {
  display: flex;
  flex-wrap: nowrap; /* Prevent the columns from wrapping */
  min-height: 100vh; /* Take full height of the parent */
}

/* Flex column styles */
.col-md-4,
.col-md-8 {
  display: flex;
  flex-direction: column; /* Organize children of the columns in a column layout */
  border-radius: 10px;
  margin: 5px;
}

.loader {
  background-color: rgb(225, 225, 225);
}
